<!DOCTYPE html>
<html>
<head>
<title>Blog App</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <div class = "container_user">
  <h2>User Details</h2>
  <div class = "user_info">
  <h4>Name: <%= @user.name %></h4>
  <p>Bio: <%= @user.bio %></p>
  <h5>Total Posts: <%= @user.posts_counter %></h5>
  </div>
  </div>
</body>
</html>
