* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  h1 {
    color: blue;
  }
  .container_user {
    border: 2px solid red;
  }
  .user_info {
    border: 2px solid red; 
  }

  .Post_container {
    border: 2px solid red;
  }
  .post_info {
    border: 2px solid red; 
  }
  .likes {
    border: 2px solid red; 
  }
  .comments {
    border: 2px solid red; 
  }
  
  
  